# Server
PORT=3000

# Blockchain RPC
RPC_URL=https://rpc.pulsechain.com
PULSECHAIN_CHAIN_ID=369

# External APIs
BLOCKSCOUT_API=https://api.scan.pulsechain.com/api
PULSETOKENS_URL=https://tokens.pulsechain.com/output/tokens.pulsechain.com.json

# Scan settings
SCAN_INTERVAL_MINUTES=15